@import url(assets/css/1-normalize.css);
@import url(assets/css/2-reset.css);
/* TIPOGRAFIA */
@import url(assets/css/fonts.css);
/* PALETA  */
:root{
  --bg: #217974;
  --head: #060e11;
  --bg-total: #e6ffd2;
  --deco-total: #76c669;
  --btn-add: #6DB04D;
}
body{
  background-color: var(--bg);
  min-height: 100vh;
  padding-bottom: 108px;
}
.container{
  position: relative;
}
@media (max-width: 460px) {
  .bg-group-inputs{
    position: sticky;
    top: 0;
    background-color: var(--head);
    box-shadow: 0px 6px 12px #00000080;
    z-index: 999999;
  }
  .group-inputs{
    position: sticky;
    top: 0;
    max-width: 350px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
    padding: 12px 0;
  }
  .div-input{
    display: flex;
    place-content: center;
    place-items: center;
  }
  .div-input:first-child label{
    margin-right: 5px;
  }
  .div-input:not(:first-child) label{
    margin: 0 5px;
  }
  #item{
    max-width: 150px;
    padding-left: 5px;
  }
  #quantidade{
    max-width: 25px;
    text-align: center;
  }
  #valor{
    max-width: 50px;
    text-align: center;
  }
  .btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 36px;
    width: 48px;
    border: none;
    border-radius: 0 0 50px 50px;
    background-color: var(--head);
    box-shadow: 2px 6px 8px #00000060;
    z-index: 9;
  }
  .btn-add::after{
    content: '';
    display: flex;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    background-color: var(--btn-add);
  }
  .btn-add::before{
    content: '';
    display: flex;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    position: absolute;
    transform: rotate(90deg);
    background-color: var(--btn-add);
  }
  .btn-add.btn-travado::after,
  .btn-add.btn-travado::before{
    background-color: red;
  }
  table{
    border-collapse: collapse;
    position: relative;
    right: 16px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 10px;
    padding: 5px;
  }
  th, td{
    border-bottom: 1px solid #000000b3;
    padding: 6px;
  }
  th:nth-child(2),
  .linha-item td:nth-child(2){
    border-left: 1px solid #00000080;
    border-right: 1px solid #00000080;
  }
  tr:last-child td{
    border-bottom: none;
  }
  thead tr th:first-child{
    min-width: 130px;
  }
  .linha-item td div {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  .linha-item td div span span{
    font-size: .6rem;
  }
  .linha-item td:not(:first-child){
    text-align: center;
  }
  .total{
    position: absolute;
    width: 180px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-total);
    border-radius: 0 0 20px 20px;
    border-top: 2px solid var(--deco-total);
  }
  .li-delete{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 15px;
    font-size: .9rem;
  }
  .delete-lista{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: none;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .delete-lista td{
    border: none;
    padding: 0;
  }
  .lista-itens{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  #tbody{
    position: relative;
  }
  .line-del{
    position: absolute;
    top: 18px;
    right: -34px;
  }
  .delete{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22px;
    height: 26px;
    border: none;
    border-radius: 0 50px 50px 0;
    background-color: #ffffff;
  }
  .delete::before,
  .delete::after{
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 15px;
    z-index: -1;
    border-radius: 50%;
    background-color: transparent;
  }
  .delete::before{
    top: -14px;
    left: 0px;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 60%;
    box-shadow: -4px 4px 0 0px #ffffff;
  }
  .delete::after{
    bottom: -14px;
    left: 0;
    border-top-left-radius: 60%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    box-shadow: -4px -4px 0 0px #ffffff;
  }
  .img-trash,
  .remove-iten{
    position: relative;
    /* right: 3px; */
    width: 20px;
    height: 20px;
  }
  .remove-iten{
    color: darkred;
    width: 25px;
  }
  .del-row,
  .cell_del{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    border-left: 1px solid #00000080;
  }
  .img-delete,
  .cell_del .img{
    width: 24px;
    height: auto;
  }
  .toggle-menu{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--head);
    position: fixed;
    right: 14px;
    bottom: 10px;
    z-index: 999;
    transition: all .3s;
  }
  .toggle-menu span{
    display: block;
    width: 22px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--bg-total);
    transition: all .2s;
  }
  .toggle-menu span::before,
  .toggle-menu span::after{
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 3px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    background-color: var(--bg-total);
  }
  .toggle-menu span::before{
    transform: translateY(-8px);
  }
  .toggle-menu span::after{
    transform: translateY(8px);
  }
  .menu-nav{
    position: fixed;
    bottom: 0px;
    display: flex;
    height: 0px;
    width: 100%;
    background-color: var(--head);
    color: white;
    transition: all .3s;
  }
  .div-menu.active .toggle-menu{
    background-color: var(--bg-total);
    bottom: 20px;
  }
  .div-menu.active .toggle-menu span{
    background-color: transparent;
    z-index: -1;
  }
  .div-menu.active .toggle-menu span::before{
    transform: translateY(0) rotate(-225deg);
    background-color: var(--head);
  }
  .div-menu.active .toggle-menu span::after{
    transform: translateY(0) rotate(225deg);
    background-color: var(--head);
  }
  .div-menu.active .menu-nav{
    height: 90px;
  }
  input{
    height: 27px;
    border: none;
    border-radius: 3px;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .oculta{
    display: none;
  }
}

@media (max-width: 320px) {
  table{
    right: 0;
  }
  .line-del{
    top: -32px;
    right: 40px;
  }
  .delete{
    position: relative;
    width: 26px;
    height: 20px;
    border: none;
    border-radius: 50px 50px 0 0;
    background-color: #ffffff;
  }
  .img-trash{
    right: 0;
  }
  .delete::before,
  .delete::after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: -1;
    /* border-radius: 50%; */
    background-color: rgb(51, 255, 0,0);
  }
  .delete::before {
    top: 2px;
    left: -21px;
    height: 33px;
    border-bottom-right-radius: 1000%;
    box-shadow: 8px 8px 0 #ffffff;
  }
  .delete::after {
    top: 2px;
    left: 32px;
    height: 33px;
    border-bottom-left-radius: 1000%;
    box-shadow: -8px 8px 0 0px #ffffff;
  }
}