:root{
  --c0: #7398cf;
  --c1: #aecdfc;
  --c2: #1ea386;
  --c3: #128b63;
  --c4: #606d80;
  --c5: #ffffff;
  --c6: #5dbba7e3;
  --bg: #e7faff;
  --del: #f5a0a0ad;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica ;
}
p{
  margin: 0;
}
body{
  background-color: var(--bg);
}
.container{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 15px;
}
/* form */
#id-form{
  position: relative;
  background-color: var(--c0);
  display: inline-block;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.37);
}
.entrada-valores label{
  display: block;
  font-size: 1.1rem;
  margin-bottom: 3px;
  color: var(--c5);
  text-shadow: 1px 1px #0000003c;
}
.entrada-valores input{
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 3px;
  border-width: 1px;
  border-color: transparent;
}
.btn-group{
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
.btn{
  padding: 5px 10px;
  border-radius: 8px;
  border-color: transparent;
  font-weight: 600;
  background-color: var(--c2);
  color: var(--c5);
  transition: .3s;
}
.btn:hover{
  background-color: var(--c3);
  color: var(--c5);
  box-shadow: 1px 1px 5px #00000034;
}
/* /////////////////// */
.lista-itens{
  padding: 0 20px 0 20px;
}
.tabela{
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse;
}
th{
  text-transform: uppercase;
  font-size: .9rem;
  text-align: center;
  background-color: var(--c0);
}
td, th{
  padding: 5px 10px;
  border: 1px solid #000000;
  border-collapse: collapse;
  text-align: center;
}
td{
  background-color: var(--c1);
}
.cell_nome_item div{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.cell_nome_item span span{
  font-size: 0.79rem;
  letter-spacing: 2px;
}
#tfooter{
  margin-bottom: 50px;
}
.footer-linha{
  position: sticky;
  bottom: 0;
  background-color: #fdfcdf;
}
.editar-on{
  background-color: #ccaaaa;
}
.cell_edit{
  display: flex;
  border: none;
  background-color: transparent;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.cell_edit:before{
  content: '';
  display: flex;
  position: absolute;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--del);
  z-index: -1;
}
.img-delete{
  width: 20px;
}
.footer-linha td {
  background-color: var(--c6);
}
.footer-linha td:nth-child(1) {
  text-align: end;
}
.footer-linha td:nth-child(2) {
  text-align: start;
}

@media (max-width: 768px){
  .lista-itens{
    padding-right: 0;
  }
  .cell_edit{
    margin-left: 6px;
  }
}
@media (max-width: 650px){
  .container {
    display: grid;
    grid-template-columns: auto;
    }
  #id-form{
    padding: 10px;
    margin-bottom: 20px;
  }
  .grid-form{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .entrada-valores{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .entrada-valores label {
    display: inline;
    font-size: 1.1rem;
    margin-bottom: 3px;
    color: var(--c5);
    text-shadow: 1px 1px #0000003c;
    margin: 0;
  }
  .entrada-valores input{
    width: 40px;
    margin: 0;
  }
  .entrada-valores:nth-child(1) input {
   width: auto;
  }
  .btn-group{
    justify-content: space-around;
  }
  .lista-itens{
    padding: 0;
  }
}